.form-container {
    background-color: rgba(10, 25, 50, 0.8); /* Mismo color que el footer */
    padding: 20px;
    border-radius: 8px;
    width: 50%; /* Ajusta el ancho según lo necesites */
    margin-left: 0; /* Alineado a la izquierda */
}

.form-container input,
.form-container textarea,
.form-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #b0b0b0;
    background-color: rgba(255, 255, 255, 0.1);
    color: #b0b0b0;
}

.form-container button {
    background-color: #b0b0b0;
    color: #0a1932;
    cursor: pointer;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #ffffff;
    color: #0a1932;
}


button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(10, 25, 50, 0.8); /* Azul oscuro con transparencia */
    color: #b0b0b0; /* Gris claro */
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

footer a {
    color: #b0b0b0;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

